<header>
    <h1 id="gameStatus">Unknown</h1>
    <h3 id="playerRound"></h3>
</header>
<div id="gameBoard">
    <% switch (locals.game.board.type) { case "table" : case "simple" : case "custom" :{%>
        <%- include("./gamesparts/boards/"+locals.game.board.type+".ejs") %>
            <% }break; default: { %>Nie znany rodzaj planszy!<% }break; }%>
</div>
<footer id="gameFooter">
    <%= locals.game.description%>
</footer>