<header id="gameName"><%= locals.game.name %></header>
<div id="gameBoard">
    <% const board = locals.game.board
    switch (board.type) {
        case "table":
            {%>
                <%- include("./gamesparts/boards/"+board.type+".ejs") %>
            <%
            }break;

        default:
            {
                %>Nie znany rodzaj planszy!<%
            }break;
    }%> 
</div>
<footer id="gameFooter"><%= locals.game.description%></footer>
