<footer>
    <h2>Sławomir Klimowski</h2>
    <b>Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie<br />
        Wydział Fizyki i Informatyki Stosowanej</b><br />
        402718@student.agh.edu.pl<br />
</footer>