<header>
    <h1>
        <%= locals.text || 'Lista gier' %>
    </h1>
</header>
<div id="gamesList">
    <table>
        <thead>
            <tr>
                <th>Nazwa gry</th>
                <th>Opis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% locals.games.forEach((game, index)=> { %>
                <tr class="game">
                    <th>
                        <%= game.name %>
                    </th>
                    <td>
                        <%= game.description %>
                    </td>
                    <td>
                        <form action="/rooms/games/check/<%= index %>" method="get">
                            <input type="submit" value="Sprawdź dostępność" disabled /><br />
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<footer id="newGame">
    <form action="/rooms/games/register" method="post">
        <h2>Zarejestruj nową grę<br /></h2>
        <label for="url">Adres serwera gry</label>
        <input id="url" name="url" type="url" placeholder="https://gra.io/name/api" title="Adres do definicji gry" />
        <input type="button" value="Sprawdź" onclick="checkGame(this.form)" title="Sprawdzenie poprawności gry" />
        <input type="submit" value="Zarejestruj" />
        <div id="gameResponse"></div>
    </form>
    Dostępne gry:
    <ul>
        <li>https://bgs-argen-game-server.herokuapp.com/TicTacToe/api</li>
        <li>https://bgs-argen-game-server.herokuapp.com/ConnectFour/api</li>
        <li>https://bgs-argen-game-server.herokuapp.com/ManDontGetAngry/api</li>
    </ul>

</footer>