<header>Lista zarejestrowanych gier</header>
<div id="gamesList">
    <table>
        <thead>
            <tr>
                <th>Nazwa gry</th>
                <th>Opis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% locals.games.forEach((game, index) => { %>
                <tr class="game">
                    <th>
                        <%= game.name %>
                    </th>
                    <td>
                        <%= game.description %>
                    </td>
                    <td>
                        <form action="/rooms/games/check/<%= index %>" method="get">
                            <input type="submit" value="Sprawdź dostępność" /><br />
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<footer id="newGame">
    <script>
        function checkGame(form)
        {
            xmlhttpPost("/games/check", {url: form.url.value}, function (response){
                var resjson = JSON.parse(response);
                console.log(resjson);
                if (resjson.accepted)
                {
                    document.getElementById("gameResponse").innerHTML = "Game is OK!";
                }
                else
                {
                    document.getElementById("gameResponse").innerHTML = "Error has occured!";
                }
            });
        }
    </script>
    Zarejestruj nową grę
    <form action="/rooms/games/register" method="post">
        <label for="url">Adres serwera gry</label>
        <input id="url" name="url" type="url" placeholder="https://gra.io/" value="<%= locals.url %> " />
        <input type="button" value="Sprawdź" onclick="checkGame(this.form)" />
        <input type="submit" value="Zarejestruj" />
    </form>
    <div id="gameResponse"></div>
</footer>