<header>
    <h1>
        <%= locals.text || 'Lista gier' %>
    </h1>
</header>
<div id="gamesList">
    <table>
        <thead>
            <tr>
                <th>Nazwa gry</th>
                <th>Opis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% locals.games.forEach((game, index)=> { %>
                <tr class="game">
                    <th>
                        <%= game.name %>
                    </th>
                    <td>
                        <%= game.description %>
                    </td>
                    <td>
                        <form action="#">
                            <input type="button" value="Sprawdź dostępność"
                                onclick="checkStatus(this.form, '<%= game.name %>')" /><br />
                            <div class="error"></div>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<footer id="newGame">
    <form action="/rooms/games/register" method="post">
        <h2>Zarejestruj nową grę<br /></h2>
        <label for="url">Adres serwera gry:</label>
        <input id="url" class="wideInput" name="url" type="url" placeholder="https://gra.io/name/api"
            title="Adres do definicji gry" /> <br />
        <input type="button" value="Sprawdź" onclick="checkGame(this.form)" title="Sprawdzenie poprawności gry" />
        <input type="submit" value="Zarejestruj" />
        <div id="gameResponse" class="error"></div>
    </form>

    <br />
    Przygładowe gry (adres serwera może ulec zmianie):
    <ul>
        <li>https://172.18.0.3/TicTacToe/api</li>
        <li>https://172.18.0.3/ConnectFour/api</li>
        <li>https://172.18.0.3/ManDontGetAngry/api</li>
        <li>https://172.18.0.3/Battleships/api</li>
    </ul>
</footer>