<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/styles/basicStyles.css" />
    <title>Serwis gier planszowych</title>
    <script src="/static/scripts/basicScripts.js"></script>
    <% if (locals.game) { %>
        <script src="/static/scripts/gameScripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles/gameStyles.css" />
        <% } %>
</head>