<nav>
    <b>Linki do zadań, projektów i innych:</b><br /><br />
    <a href="/">Strona domowa</a><br />
    <a href="/rooms">Lista otwartych pokoi</a><br />
    <a href="/rooms/games">Lista zarejestrowanych gier</a><br />
    <a href="/rooms/0">TicTacToe</a><br />
    <br />
    <a href="#">Zaloguj</a>
</nav>