<nav>
    <b>Nawigacja:</b><br /><br />
    <a href="/">
        <div>Strona domowa</div>
    </a>
    <a href="/rooms">
        <div>Lista otwartych pokoi</div>
    </a>
    <a href="/rooms/games">
        <div>Lista zarejestrowanych gier</div>
    </a>
    <a href="/rooms/0/Join">
        <div>TicTacToe</div>
    </a>
    <br />
    <a href="#">
        <div>Zaloguj</div>
    </a>
</nav>