<style>
    #summary>h3 {
        max-width: 60%;
        margin: auto;
        padding-top: 1rem;
    }
</style>
<div id="summary">
    <h3>
        Projekt rozwiązania technologicznego pozwalającego na oddzielenie procesu wytwórczego gier planszowych od
        implementacji interfejsu graficznego użytkownika. Przygotowany został interfejs aplikacji służący do komunikacji
        pomiędzy dwoma serwisami internetowymi. Pierwszy serwer reprezentuje zbiór reguł opisujących wybraną grę
        planszową,
        natomiast do zadań drugiego należy obsługa połączeń z użytkownikami oraz udostępnienie im możliwości korzystania
        z
        usług oferowanych przez serwis gier. Aplikacja została opracowana z użyciem technologii komunikacji
        asynchronicznej
        tj. protokół WebSocket oraz interfejs XMLHTTPRequest, jak również narzędzia Docker służącego do konteneryzacji.
    </h3>

</div>