<table id="board">
    <tbody>
        <tr>
            <th></th>  <th>a</th>  <th>b</th>  <th>c</th>
        </tr>
        <tr id="brow0">
            <th>1</th>   <td onclick="makeMove('a1')"></td>   <td onclick="makeMove('b1')"></td>   <td onclick="makeMove('c1')"></td>
        </tr>
        <tr id="brow1">
            <th>2</th>   <td onclick="makeMove('a2')"></td>   <td onclick="makeMove('b2')"></td>   <td onclick="makeMove('c2')"></td>
        </tr>
        <tr id="brow2">
            <th>3</th>   <td onclick="makeMove('a3')"></td>   <td onclick="makeMove('b3')"></td>   <td onclick="makeMove('c3')"></td>
        </tr>
    </tbody>
</table>
<form id="ruch">
    <input type="text" id="textMove" placeholder="next move [ a1 ]" />
    <input type="button" id="btnMove" value="Wykonaj" /><br />
    <input type="button" id="btnGame" value="Nowa Gra" />
    <input type="button" id="btnRound" value="Nowa Runda" />
</form>
<div id="score">
</div>