<div id="score">
    <table class="scoreboard">
        <thead>
            Tabela wyników
        </thead>
        <tbody>
            <tr>
                <th>Draws</th>
                <% for (var i=0; i < locals.game.maxNoPlayers; ++i) { %>
                    <th>Player<%= i+1 %>
                    </th>
                    <% } %>

            </tr>
            <tr id="scores">
                <td>0</td>
                <% for (var i=0; i < locals.game.maxNoPlayers; ++i) { %>
                    <td>0</td>
                    <% } %>

            </tr>
        </tbody>
    </table>
</div>