body{
    background-color: #444;
    padding-left: 2em;
    color: #ccc;
}

h1{
    color: peru;
}

table, td, th{
    border: 1px solid #aaa;
}

td, th{
    min-width: 2em;
    min-height: 2em;
    text-align: center;
}