.board {
    background-color: #606060;
    table-layout: fixed;
    font-size: 3rem;
    padding: 0px;
    border: 2px solid #a0a0a0;
    margin: 20px auto 20px;
}

.board th {
    background-color: #404040;
    font-size: 1em;
    display: none;
}

.board tr:first-child {
    display: none;
}

.boardsquare {
    border-style: none;
    text-align: center;
    background-color: #404040;
    width: 64px;
    height: 64px;
}

#playersList {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    min-width: 200px;
    color: peru;
    width: 15%;
    text-align: left;
}

.layout {
    display: none;
}

.diceSpace {
    margin: 10px auto 10px;
    display: inline-block;
}

.diceSpace > button {
    display: inline-block;
    font-size: 2.5rem;
    text-align: right;
    margin-left: 64px;
    background-color: #404040;
    border: 1px solid black;
    color: #c0c0c0;
    padding: 8px;
    box-shadow: 4px 4px 4px #606060 inset, -4px -4px 4px #606060 inset;
    transition-duration: 0.5s;
}

.diceSpace>button:active {
    background-color: #20e20e;
    box-shadow: 4px 4px 4px #404040 inset, -4px -4px 4px #404040 inset;
}

.diceSpace>button:hover {
    border: 1px solid peru;
}

.dice {
    width: 64px;
    height: 64px;
    background-color: #404040;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 8px -4px #404040, -4px 2px 2px #606060 inset, 4px -2px 2px #404040, 0px -2px 8px black inset;
}

#wsIndicator {
    background-color: red;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #404040, 0 0 0 2px #a0a0a0 inset;
    transition-duration: 0.5s;
}

.buttonBox {
    font-weight: bold;
}

#usersRoles > select {
    padding-top: 4px;
    margin-top: 4px;
    min-width: 200px;
}